<footer class="footer"> <!-- footer-dark -->
<div class="footer-logo-svg">
<div class="footer-logo-description">
    <svg class="logo-svg">
     <use class="logo-svg" href = "./img/sprite.svg#logo"></use>
</svg>
<a class="footer-logo" href="#">Bookshelf</a> <!-- footer-logo-dark -->
</div>
<ul class="footer-nav">
    <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">HOME</a></li> <!-- footer-nav-description-dark -->
    <li class="footer-navigation-elements footer-nth-child"><a class="footer-nav-description" href="#">SHOPPING LIST</a></li> <!-- footer-nav-description-dark -->
     <!-- <li class="footer-navigation-elements"><a class="footer-nav-description" href="#">LOG OUT</a></li> footer-nav-description-dark -->
</ul>
</div>

<!-- MODAL -->
<div id="Footer-modal" class="footer-modal">
    <div class="footer-modal-content"> <!-- dark -->
    <button class="footer-close-modal"> <!-- dark -->
    <svg width="12px" height="12px">
        <use class="footer-modal-close-btn" width="12px" height="12px" href = "./img/footer-sprite.svg#icon-close-modal-icon"></use>
    </svg>
    </button>
    <div class="footer-main-logo-svg">
    <svg class="footer-modal-svg-book">
        <use class="logo-svg" href = "./img/sprite.svg#logo"></use>
    </svg>
    <h2 class="footer-hero-modal">Our Team</h2> <!-- dark -->
    </div>

<!-- DEVELOPER CARDS -->

<div class="developer-card"> <!-- dark -->
   <img class="team-photos" loading="lazy" src="./img/team-photos/team-lead-oleksandr-kozlov.webp" alt="Team-Lead"> <!-- dark -->
    <h3 class="footer-dev-name">Oleksandr Kozlov</h3> <!-- dark -->
    <p class="footer-dev-job">Team Lead</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/Oleksander-Kozlov">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin"> <!-- dark -->
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/oleksandr-kozlov-648253272/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin"> <!-- dark -->
     <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/scrum-master-anastasiia-zaletska.webp" alt="Scrum Master"> <!-- dark -->
    <h3 class="footer-dev-name">Anastasiia Zaletska</h3> <!-- dark -->
    <p class="footer-dev-job">Scrum Master</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/zaletska">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/anastasiia-zaletska-986771271/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-nikita-nikitin.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Nikita Nikitin</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/RainWell07">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/nikita-nikitin-96164a276/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-katerina-vasyuk.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Katerina Vasyuk</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/NonStopIT17">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/katerina-vasyuk-1b7b9226b/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-ivan-radko.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Ivan Radko</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/RadkoIvanUa">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" href="#">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
    </div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-olena-hrechykhina.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Olena Hrechykhina</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/Elena-Hrechyk">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/helen-h-99855726a/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-volodymyr-vasilevich.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Volodymyr Babinov</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/VolodymyrBab">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/volodymyr-vasilevich-18a248273/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-maksym-kravchenko.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Maksym Kravchenko</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/Kmaksym1">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" href="#">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-taras-tovpyshko.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Taras Tovpyshko</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/Taras355">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" href="#">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<div class="developer-card"> <!-- dark -->
     <img class="team-photos" loading="lazy" src="./img/team-photos/developer-yaroslava-klymenko.webp" alt="Developer"> <!-- dark -->
     <h3 class="footer-dev-name">Yaroslava Klymenko</h3> <!-- dark -->
     <p class="footer-dev-job">Developer Team</p> <!-- dark -->
     <ul class="footer-svg-position">
     <li class="developer-link">
     <a class="social-links" target="_blank" href="https://github.com/YaroslavaKlymenko">
     <svg width ="40px" height ="40px" class="footer-svg-linkedin">
     <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
     </svg>
     </a>
     </li>
     <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/yaroslava-klymenko-3055b3264">
     <svg width ="50px" height ="50px" class="footer-svg-linkedin">
     <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
     </svg>
     </a>
     </li>
     </ul>
</div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-ivan-lisovenko.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Ivan Lisovenko</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/lisovenko02">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin">
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" href="#">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin">
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
    </div>
<div>

<div class="developer-card"> <!-- dark -->
    <img class="team-photos" loading="lazy" src="./img/team-photos/developer-oleksandr-smulskyi.webp" alt="Developer"> <!-- dark -->
    <h3 class="footer-dev-name">Oleksandr Smulskyi</h3> <!-- dark -->
    <p class="footer-dev-job">Developer Team</p> <!-- dark -->
    <ul class="footer-svg-position">
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://github.com/AlexHunter0209">
    <svg width ="40px" height ="40px" class="footer-svg-linkedin"> <!-- dark -->
    <use  width ="40px" height ="40px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-github-logo"></use>
    </svg>
    </a>
    </li>
    <li class="developer-link">
    <a class="social-links" target="_blank" href="https://www.linkedin.com/in/oleksandr-smulskyi-72b8bb145/">
    <svg width ="50px" height ="50px" class="footer-svg-linkedin"> <!-- dark -->
    <use width ="50px" height ="50px" class="fill-footer-svg" href = "./img/footer-sprite.svg#icon-linkedin-logo"></use>
    </svg>
    </a>
    </li>
    </ul>
</div>

<button class="footer-scroll"> <!-- dark -->
    <svg width="24px" height = "24px">
    <use class="footer-arrow" href = "./img/footer-sprite.svg#icon-Vector"></use> <!-- dark -->
    </svg>
</button>

</div>
</div>
</div>
<button class="footer-btn" id="our-team-button">OUR TEAM</button> <!-- footer-btn-dark -->
</footer>